$button-bg-color: #0057ff;
$secondary-bg-color: #010632;
$primary-bg-color: #060d49;
$hero-title_blue:#0075FF;
$hero-title_yellow:#FFC700;
$primary-text-color: #FFF;
$card-bg-color:#fff;
$footer-link-yellow:#FFC700;