.about {
  background-color: $primary-bg-color;
  padding: 24px 27px;
  @media screen and (min-width: 1200px) {
  }
}
.heading {
  @extend %about-text;
  /*   padding-top: 43px; */
}
.text-about {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.44;
  width: 65%;
}
.about-img-1 {
  margin-right: auto;
  width: 60%;
  height: 124px;
  margin-bottom: 3px;
}
.about-img-2 {
  margin-left: auto;
  width: 45%;
  height: 86px;
}
.heading-box {
  display: flex;
}

#about-us {
  padding-top: 48px;
}
