footer{
    background-color: $secondary-bg-color;
    color: $primary-text-color;
    font-family: "Istok Web";
font-size: 20px;
font-weight: 400;
}
.logo-footer{
    font-size: 30px;
}
.policy-list, 
.footer-title{
    padding-left: 35px;
}
.footer-title{
    margin-bottom: 10px;
}
.policy-list{
    padding-bottom: 10px;
}
.policy-link:hover,
.policy-link:focus
{
color: $hero-title_yellow;
}
.list-contact{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;

}
.item-contact{
    display: flex;
    align-items: center;
    justify-content: center;
        background-color:$footer-link-yellow;
    width: 50px;
    height: 50px;
}