.fundraising {
  padding: 21px 27px 8px 27px;
  background-color: $secondary-bg-color;

  @media screen and (min-width: 1200px) {
    padding: 32px 0 63px;
  }
}
.heading {
  @extend %about-text;
}
.text {
  width: 70%;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.44;
  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-bottom: 0;
    font-size: 24px;
  }
}
.fundraising-img-1 {
  width: 60%;
  height: 154px;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    width: 365px;
    height: 251px;
    margin-right: 0;
  }
}
.fundraising-img-2 {
  width: 55%;
  height: 109px;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    align-self: flex-end;
    width: 265px;
    height: 203px;
    margin-left: 0;
  }
}

.fund-title {
  margin-bottom: 10px;
  font-family: "Istok Web";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.43;
  color: $primary-text-color;

  @media screen and (min-width: 1200px) {
    text-align: left;
    font-weight: 700;
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .fundraising-position {
    display: flex;
    justify-content: space-between;
  }

  .fund-content {
    width: 414px;
  }
}
