.fundraising {
    background-color: $secondary-bg-color;
    padding: 21px 27px 8px 27px;
}
.heading {
    color: $primary-text-color;
    font-family: "Istok Web";
    font-weight: 700;
    line-height: 1.46;
}
.text {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.44;
    margin-bottom: 26px;
}
.fundraising-img-1 {
    margin-right: auto;
    width: 60%;
    height: 154px;
}
.fundraising-img-2 {
    margin-left: auto;
    width: 55%;
    height: 109px;
}