.future {
  background-color: $secondary-bg-color;
  position: relative;
  height: 610px;
}
.heading {
  text-align: center;
  font-family: "Istok Web";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.43;
  margin-bottom: 25px;

  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}
.future-list {
  display: flex;

  flex-wrap: wrap;
}
.future-list::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 55px;
  left: 71px;
  width: 70%;
  height: 4px;
  background-color: #fff;
}
.future-item {
  position: absolute;
}
.future-item:nth-child(2) {
  top: 115px;
  left: 71px;
  width: 140px;
}
.future-item:nth-child(5),
.future-item:nth-child(3) {
  display: none;
}
.future-item:nth-child(1) {
  top: 115px;
  left: 267px;
  width: 145px;
}
.future-item:nth-child(4) {
  top: 303px;
  left: 69px;
  width: 140px;
}
.future-item:nth-child(6) {
  top: 387px;
  left: 261px;
  width: 145px;
}
