.project{
    background-color: $primary-bg-color;
    padding-bottom: 65px;
}
.item-card{
    width: 80%;

background-color:$card-bg-color ;
padding: 19px 11px 14px 11px ;
margin: 0 auto;
}
.item-card + .item-card{
    margin-top: 25px;
}
.title-card{
    text-align: center;
}
.text-card{
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
   
}
.btn-card{
    display: block;
    margin: 0 auto;
width: 179px;
height: 43px;
border-radius: 15px;
background: $button-bg-color;
 color: $primary-text-color;
}
